window
{
        background-color:#202020;
}
.button
{
        border-color:#3F3F3F;
        background-color:#3F3F3F;
        color: #FFFFFF;
}
.slider
{
        color:#FFDF6C;
        border: 5px #FFDF6C; 
}
.label
{
       color:#FFFFFF;
}
